.home_page_main_area{
    position: relative;
    height: 200vh;
    width: 100vw;
}
#two_boxes_horizontal{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
#button_area{
    border: #151515 1px solid;
    position: sticky;
    top: 90vh;
}
button{
    display: block;
}

#side_menu{
    position: relative;
    top: 20px;
    left: 10px;
    height: 100%;
    width: 200px;
    background-color: #3c3232;
}
#bread_crumb_menu{
    position: sticky !important;
    top: 20px;
    margin-top:50px;
    left: 10px;
    right: 10px;
    height: 200px;
    width: 100%;
    background-color: #3c3a3a !important;
}
a{
    display: block;
    color: white;
    font-size: x-large;
}

#content_area{
    position: static;
    background-color: bisque;
    height: 100%;
    width: 100%;
    top: 20px;
    left: 10px;
}

@media only screen and (max-width: 450px) {
    #side_menu{
        display: none;
    }
}

/* Medium devices such as tablets (451px and 1281) */
@media only screen and (min-width: 451px) and (max-width: 1024px) {
    #side_menu{
        display: none;
    }
}
/* large mobile devices such as bugger tablets (1025px and 1280) */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    #bread_crumb_menu{
        display: none;
    }
}

/* Large devices such as full screens desktops (1281 and up) */
@media only screen and (min-width: 1281px) {
    #bread_crumb_menu{
        display: none;
    }
}
#previous_button_area{
  display:inline-block;

}

#next_button_area{
  display:inline-block;
}
